body{
    font-family: 'Rajdhani', sans-serif;
    color: #3a3a3a;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 5px;
}

#header-right{
    margin: auto;
    text-align: right;
    width: 100%;
}

#welcome-span{
    margin-right: 5%;
}

#account-link {
    margin-right: 5%;
    text-decoration: none;
    color: #3a3a3a;
    font-size: 1.2rem;
}

nav{
    background-color: #3a3a3a;
    min-height: 15px;
}

.nav{
    display: flex;
    padding: 0;
    margin: 0;
}

.nav li{
    display: block;
}

.nav a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;;
    font-weight: bold;
    padding: 0.75rem;
}

.nav a:hover{
    background-color: #4c96d7;
    color: #3a3a3a;
    transform: scale(1.1);
}

hr{
    border-top: 5px solid #3a3a3a;
    margin: 0 0 5px 0;
}

footer{
    text-align: center;
    margin: 0;
}

footer p{
    margin: 0;
}

main{
    padding: 2%;
    margin: 0;
}

form, fieldset{
    display: grid;
    grid-template-columns: 1fr;
}

input, select{
    margin-bottom: 10px;
    max-width: 400px;
}

textarea{
    margin-bottom: 10px;
    max-width: 400px;
}

label{
    font-weight: bold;
    font-size: 1.3em;
}

#form_btn, .form_btn{
    font-weight: bold;
    font-size: 1.2em;
    width: fit-content;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    background-color: #4c96d7;
}

#form_btn:hover{
    background-color: #a6cbeb;
}

.signup_p{
    font-size: 1.3em;
    font-weight: bold;
}

.content-link{
    color: #3a3a3a;
    font-weight: bold;
    font-size: 1.3em;
}

.content-link:visited{
    color: inherit;
}

.content-link:hover, #account-link:hover{
    color: #4c96d7;
}

table{
    margin-bottom: 20px;
}

@media only screen and (min-width: 540px){
    body{
        background-image: url("../images/checkerboard.jpg");
        width: 90%;
        margin: 10px auto 0 auto;
        border: 4px solid #4c96d7;
        border-radius: 5px;
    }

    header, main, footer{
        background-color: #ffffff;
    }

    footer{
        padding-bottom: 5px;
    }


}